<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>Eliminar persona</title>
    <!-- BOOSTRAP 4 -->
    <link rel="stylesheet" href="https://bootswatch.com/4/materia/bootstrap.min.css">
    
</head>
<body>
    <!-- NAVIGATION  -->
    <nav class="navbar navbar-dark bg-dark">
        <a class="navbar-brand" href="#">
        Crear Ciudad
      </a>
      
    </nav>
    <div class="container pt-4">
    <div class="card card-body">
    <form action="" method="post">
        {% csrf_token %}
        <h1>¿QUE SOS {{ elimPersona.nombres }} ?</h1>
        <button type="submit">Persona</button>
        <button><a href="{% url 'index' %}">Jugador de LOL</a></button>
    </form>
    </div>
    </div>
</body>
</html>